@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

html {
  font-size: 100%;
}

body {
  font-family: "Indie Flower", cursive;
  padding-bottom: 10rem;
}

* {
  font-family: inherit;
}

h1,
h2 {
  text-align: center;
}

h1 {
  padding-top: 2rem;
  font-size: 4rem;
  word-break: break-word;
  background-image: linear-gradient(to right, #760303, #e3192a);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

h2 > span {
  margin-left: 10px;
  display: inline-block;
  animation-name: scale;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.51, -0.35, 0.45, 1.4);
  animation-iteration-count: infinite;
}

.w-body {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 150px;
  margin: auto;
  background-color: #007944;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  animation-name: rotate;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.51, -0.35, 0.45, 1.4);
  animation-iteration-count: infinite;
}

.w-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  background-color: #e3192a;
  height: 90%;
}

.w-body > span {
  background-color: black;
  width: 10px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
}

.w-body > span:nth-child(1) {
  top: 10px;
  left: 10%;
}

.w-body > span:nth-child(2) {
  top: 50px;
  left: 20%;
}

.w-body > span:nth-child(3) {
  top: 10px;
  left: 30%;
}

.w-body > span:nth-child(4) {
  top: 50px;
  left: 40%;
}

.w-body > span:nth-child(5) {
  top: 10px;
  left: 50%;
}

.w-body > span:nth-child(6) {
  top: 50px;
  left: 60%;
}

.w-body > span:nth-child(7) {
  top: 10px;
  left: 70%;
}

.w-body > span:nth-child(8) {
  top: 50px;
  left: 80%;
}

.w-body > span:nth-child(9) {
  top: 10px;
  left: 90%;
}

.w-body > span:nth-child(10) {
  top: 100px;
  left: 50%;
}

.w-body > span:nth-child(11) {
  top: 100px;
  left: 30%;
}

.w-body > span:nth-child(12) {
  top: 100px;
  left: 70%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    margin-top: 0;
  }

  50% {
    transform: rotate(180deg);
    margin-top: 3rem;
  }

  100% {
    transform: rotate(360deg);
    margin-top: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
